Your instance <b>{{ .Name }}</b> in Hogwarts Cloud has been created!<br>
<br>
Command to connect via SSH <b>ssh root@{{ .Domain }} -p {{ .Port }}</b><br>
To connect via HTTP/HTTPS use the domain <b>{{ .Name }}.{{ .Domain }}</b><br>